@model StudentManager.Models.Mark

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Mark</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarkType" class="control-label"></label>
                <select asp-for="MarkType" class="form-control">
                    @foreach (var ge in Enum.GetValues(typeof(MarkType)))
                    {
                        <option value="@ge">@ge</option>
                    }
                </select>
                <span asp-validation-for="MarkType" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <select asp-for="SubjectId" class ="form-control" asp-items="ViewBag.SubjectId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AccountId" class="control-label"></label>
                <select asp-for="AccountId" class ="form-control" asp-items="ViewBag.AccountId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <input asp-action="Index" type="submit" value="Back to List" class="btn" />
</div>

