<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>ASM</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">QUẢN LÝ SINH VIÊN</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                            <li><a asp-area="" asp-controller="Accounts" asp-action="Index">Tài khoản</a></li>
                            <li><a asp-area="" asp-controller="Subjects" asp-action="Index">Môn học</a></li>
                            <li><a asp-area="" asp-controller="grades" asp-action="index">Lớp học</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Điểm</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Thông tin liên hệ</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact"><i class="
glyphicon glyphicon-log-in"></i>Login/Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="menu">
        </div>
        <div class="body">
                @RenderBody()
        </div>
        <div class="footer">
            Copyright (c) 2018 Copyright Holder All Rights Reserved.
        </div>
    </div>
</body>
</html>
